.Communication {
    text-align: center;
}

.Communication-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Communication-logo {
        animation: Communication-logo-spin infinite 20s linear;
    }
}

.Communication-header {
    /*background-color: #282c34;*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes Communication-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
